.lieu {
    background-color: $color-grey1;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    color: $color-grey3;

    &_icon {
        font-size: 1rem;
    }

    &_text {
        padding: 0.5rem;
        font-size: 1rem;
    }
}

.exploration {
    padding: 2rem;
    padding-bottom: 3.5rem;
    text-align: center;
    background-color: $color-grey2;

    &_titre-exploration {
       margin: 0;
       margin-bottom: -1rem;
       padding: 1rem;
       font-weight: 900;
    }

    &_sous-titre-exploration {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 1.5rem;
    }
}

.fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    &_titre {
        margin: 2.5rem 5rem 1rem -5rem;
        font-weight: 900;
    }
}


.etapes:before {
    margin-right: 10px;
    content: counter(nombre);
    background-color: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
      font-family: 'Roboto', sans-serif;
      font-size: 0.8rem;
  }

  .bloc-etapes {
    list-style: none;
    counter-reset: nombre;
    margin: 0;
    padding: 0;
  }

.etapes {
    counter-increment: nombre;
    background-color: $color-primary;
    padding: 1.7rem;
    width: 98%;
    margin: 1rem 0rem 1.8rem -1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    font-weight: bold;

    &_icon {
        margin: 0rem 1.5rem 0rem 0.6rem;
        color: #7e7e7e;
        font-size: 1.2rem;
    }
}

.restaurants {
    background-color: $color-grey2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    &_titre {
        margin: 2.5rem 5rem 1rem -5rem;
        font-weight: 900;
    }
}


.bloc-restaurants {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.restaurant {
background-color: white;
border-radius: 1rem;
width: 100%;
position: relative;
margin: 1rem 4rem 0.5rem 0;
box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);

    &_img {
    height: 11rem;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    }

    &_badge {
    background-color: $color-tertiary;
    color: $color-text-badge;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    font-weight: bold;
    font-size: 14px;
    }

    &_info {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;

    }

    &_titre {
    margin: 0;
    margin-bottom: 0.1rem;
    font-size: 18px;
    font-weight: black;
    }

    &_lieu {
    margin: 0;
    font-size: 18px;
    font-weight: medium;
    }

    &_icon {
        position: absolute;
        right: 1rem;
        top: 12.5rem;
        font-size: 1.5rem;
        transform: scaley(1.2);
        z-index: 1;

        &:hover {
            cursor: pointer;
            z-index: 0;
        }
     }

    &_icon2 {
    color: transparent;
        position: absolute;
        right: 1rem;
        top: 12.5rem;
        font-size: 1.5rem;
        transform: scaleY(1.2);
        z-index: 0;

        &:hover {
           @include coeurBoutton;
              }
        }
    }

