@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "shrikhand";
  font-weight: 400;
  margin: 0;
}

.sous-titre-exploration {
  font-family: "roboto";
}

.myButton {
  box-shadow: 0px 4px 11px 1px #bfbfbf;
  background: linear-gradient(to bottom, #e370db 5%, #a95ddb 100%);
  background-color: #e370db;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 17px;
  padding: 15px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: linear-gradient(to bottom, #a95ddb 5%, #e370db 100%);
  background-color: #a95ddb;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.header {
  display: block;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem;
  position: relative;
  z-index: 1000;
}

.footer {
  color: white;
  background-color: #353535;
  padding: 1rem 1rem 1rem 1.5rem;
}
.footer_titre {
  font-size: 1.2rem;
}
.footer_tableau {
  list-style-type: none;
  padding: 0;
}
.footer_lista {
  padding: 4px 0 5px 0;
  font-weight: 500;
}
.footer_list {
  padding: 4px 0 5px 0;
}

.iconfooter {
  padding-right: 1rem;
  font-size: 0.8rem;
}

img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.lieu {
  background-color: #eaeaea;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  color: #353535;
}
.lieu_icon {
  font-size: 1rem;
}
.lieu_text {
  padding: 0.5rem;
  font-size: 1rem;
}

.exploration {
  padding: 2rem;
  padding-bottom: 3.5rem;
  text-align: center;
  background-color: #f6f6f6;
}
.exploration_titre-exploration {
  margin: 0;
  margin-bottom: -1rem;
  padding: 1rem;
  font-weight: 900;
}
.exploration_sous-titre-exploration {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.fonctionnement_titre {
  margin: 2.5rem 5rem 1rem -5rem;
  font-weight: 900;
}

.etapes:before {
  margin-right: 10px;
  content: counter(nombre);
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.bloc-etapes {
  list-style: none;
  counter-reset: nombre;
  margin: 0;
  padding: 0;
}

.etapes {
  counter-increment: nombre;
  background-color: #9356DC;
  padding: 1.7rem;
  width: 98%;
  margin: 1rem 0rem 1.8rem -1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  font-weight: bold;
}
.etapes_icon {
  margin: 0rem 1.5rem 0rem 0.6rem;
  color: #7e7e7e;
  font-size: 1.2rem;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.restaurants_titre {
  margin: 2.5rem 5rem 1rem -5rem;
  font-weight: 900;
}

.bloc-restaurants {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.restaurant {
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  position: relative;
  margin: 1rem 4rem 0.5rem 0;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.restaurant_img {
  height: 11rem;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.restaurant_badge {
  background-color: #99E2D0;
  color: #008766;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-weight: bold;
  font-size: 14px;
}
.restaurant_info {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.restaurant_titre {
  margin: 0;
  margin-bottom: 0.1rem;
  font-size: 18px;
  font-weight: black;
}
.restaurant_lieu {
  margin: 0;
  font-size: 18px;
  font-weight: medium;
}
.restaurant_icon {
  position: absolute;
  right: 1rem;
  top: 12.5rem;
  font-size: 1.5rem;
  transform: scaley(1.2);
  z-index: 1;
}
.restaurant_icon:hover {
  cursor: pointer;
  z-index: 0;
}
.restaurant_icon2 {
  color: transparent;
  position: absolute;
  right: 1rem;
  top: 12.5rem;
  font-size: 1.5rem;
  transform: scaleY(1.2);
  z-index: 0;
}
.restaurant_icon2:hover {
  z-index: 1;
  color: #e471da;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#e471da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.fleche {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  font-size: 1.5rem;
}

.menus_img {
  border-radius: 0;
  object-fit: cover;
  height: 15rem;
  width: 120%;
}

.restaurant-titre {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem 0.7rem 1rem;
  font-size: 0.9rem;
}
.restaurant-titre_icon {
  position: absolute;
  right: 2.5rem;
  font-size: 1.5rem;
  transform: scaley(1.2);
  z-index: 1;
}
.restaurant-titre_icon:hover {
  cursor: pointer;
  z-index: 0;
}
.restaurant-titre_icon2 {
  color: transparent;
  position: absolute;
  right: 2.5rem;
  font-size: 1.5rem;
  transform: scaleY(1.2);
  z-index: 0;
}
.restaurant-titre_icon2:hover {
  z-index: 1;
  color: #e471da;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#e471da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.restaurant-section {
  padding: 0.8rem;
  background-color: #f6f6f6;
  margin-top: -1rem;
}
.restaurant-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0;
  position: relative;
  margin-bottom: 1rem;
}
.restaurant-section h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}

.menu_categorie-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 0.1rem;
  margin-bottom: 2rem;
}

.menu-infos {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #353535;
  overflow: hidden;
  cursor: pointer;
  transition: padding-right 0.8s ease;
}
.menu-infos:hover {
  padding-right: 4rem;
}
.menu-infos:hover i {
  animation: rotate-center 0.6s ease-in-out;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.menu-infos_prix {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menu-infos_description {
  padding: 1rem;
  overflow: hidden;
}
.menu-infos_description h4,
.menu-infos_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-infos_validation {
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  display: grid;
  margin-right: -4rem;
  place-items: center;
  width: 4rem;
  color: white;
  font-size: 1.5rem;
}

.commande {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
