.chargement {
  $animation-duration: 1s;
  $animation-count: 2;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 200ms $animation-duration * $animation-count forwards;
  transform-origin: top;
  &::after {
    content: "";
    height: 100px;
    width: 100px;
    border-right: 5px solid transparent;
    border-top: 5px solid $color-secondary;
    border-radius: 50%;
    animation: spin $animation-duration ease-in-out;
    animation-iteration-count: $animation-count;
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
  
  @keyframes apparition {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  
  