.menus_img {
    border-radius: 0;
    object-fit: cover;
    height: 15rem;
    width: 120%;
    @media screen and (min-width: $breakpoints) {
      height: 25.15rem;
      width: 100%;
    }
}

.restaurant-titre {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: $color-grey2;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem 0.7rem 1rem;
  font-size: 0.9rem;

  &_icon {
    position: absolute;
    right: 2.5rem;
    font-size: 1.5rem;
    transform: scaley(1.2);
    z-index: 1;

    &:hover {
        cursor: pointer;
        z-index: 0;
    }
 }

&_icon2 {
color: transparent;
    position: absolute;
    right: 2.5rem;
    font-size: 1.5rem;
    transform: scaleY(1.2);
    z-index: 0;

    &:hover {
       @include coeurBoutton;
          }
    }
}


.restaurant-section {
    padding: 0.8rem;
    background-color: $color-grey2;
    margin-top: -1rem;

    h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        margin: 1rem 0 1rem 0;
        position: relative;
      margin-bottom: 1rem;
      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.25rem;
        width: 3rem;
        background-color: $color-tertiary;
    }
}
 }

.menu_categorie-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0.1rem;
    margin-bottom: 2rem;
    animation: apparition 1.5s;
    @media screen and (min-width: $breakpoints) {
      display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 15px;
grid-row-gap: 16px;
      
    }
}

.menu-infos {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    margin: 0.5rem;
    @include box-shadow;
    overflow: hidden;
    cursor: pointer;
    transition: padding-right 0.8s ease;

    &:hover {
      padding-right: 4rem;
      

      i {
        animation: rotate-center 0.6s ease-in-out;

        @keyframes rotate-center {
          0% {
            -webkit-transform: rotate(0);
                    transform: rotate(0);
          }
          100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
          }
      }
    }  }



    &_prix {
        margin-left: auto;
          font-weight: 900;
          padding: 1rem;
          display: flex;
          align-items: flex-end;
    }

    &_description {
        padding: 1rem;
          overflow: hidden;
          h4,
          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
    }

    &_validation {
      background-color: #99e2d0;
      border-radius: 0 1rem 1rem 0;
      display: grid;
      margin-right: -4rem;
      place-items: center;
      width: 4rem;
      color: white;
      font-size: 1.5rem;  
}
 }

 .commande {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  background-color: $color-grey2;
 }