@mixin coeurBoutton {
    z-index: 1;
           color: #e471da;
           background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to(#e471da));
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            cursor: pointer;
            animation: fadeIn 0.5s ease-in-out;
           
            @keyframes fadeIn {
                0% {
                    -webkit-transform: translateZ(-80px);
                            transform: translateZ(-80px);
                    opacity: 0;
                  }
                  100% {
                    -webkit-transform: translateZ(0);
                            transform: translateZ(0);
                    opacity: 1;
                  }
} 
 }


 @mixin box-shadow {
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
        
 }

 @mixin badgeNouveau {
    background-color: $color-tertiary;
    color: $color-text-badge;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    font-weight: bold;
    font-size: 14px;  
 }