$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$color-text-badge: #008766;
$color-white: #fff;
$color-grey1: #eaeaea;
$color-grey2: #f6f6f6;
$color-grey3: #353535;



$breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
)