$colour-primary: #9356DC;
$colour-secondary: #FF79DA ;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-invalid: #DB464B;


$breakpoints : (
    xs: 320px,  
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px
),
